@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
.main-container {
  position: relative;
  width: 1440px;
  height: 100%;
  background: #d6d8ff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;    
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  
}

.frame {
  width: 1300px;
  margin: 0;
  display: flex ;
  flex-direction: column;
}

.menu-container {
  /* Rectangle 32 */

  width: 1300px;
  height: 100px;

  /* Inside auto layout */

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.hero {
  background-image: url("hero.jpg");
  width: 1300px;
  height: 700px;
}

.carousel {
  width: 1300px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  height: 140px;
  background: #2b2d6c;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}

.menu-bar {
  /* nav-bar */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  gap: 20px;
  width: wrap-content;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
}

.nav-window1 {
  background-image: url("slice 2.jpg");
  width: 400px;
  height: 400px;
  border-radius: 8PX;
  display: flex;
  /* align-content: flex-end; */
  align-items: flex-end;
  justify-content: center;
}
.nav-window2 {
  background-image: url("slice 3.jpg");
  width: 400px;
  height: 400px;
  border-radius: 8px;
  display: flex;
  /* align-content: flex-end; */
  align-items: flex-end;
  justify-content: center;
}
.nav-window3 {
  background-image: url("Slice 4.jpg");
  width: 400px;
  height: 400px;
  border-radius: 8PX;
  display: flex;
  /* align-content: flex-end; */
  align-items: flex-end;
  justify-content: center;
}
1 {
  background-image: url("rectangle 14.png");
}
.footer-social {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
a:active {
  background-color: white;
}
.nav-btn {
  /* nav-list item */

  /* Auto layout */
  ddisplay: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 136px;
  height: 60px;
  /* background-color: #2B2D6C; */
  border: none;
  color: #2B2D6C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 20px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: space-around;
  align-content: center;
  /* border-radius: 6px;

  /* button shadow 1 */

  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: space-around;
}

.space1 {
  height: 60px;
}
.space2 {
  height: 60px;
}
.space3 {
  height: 60px;
}