@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --font: "Poppins";
}

* {
  position: relative;
  width: 1440px;
  height: 1640px;

  /* light mauve */

  background: #d6d8ff;

  .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 1440px;
    height: 1640px;
    left: 0px;
    top: 0px;
    .menu-container {
      width: 1300px;
      height: 100px;
    }
    .menu-bar {
      position: absolute;
      width: 1300px;
      height: 700px;
    }
  }
}
